/*This css is to change the size of input fields in editProfile page as configured*/

#editmyprofileform .field-group .input-mini, form[name="editUser"] .field-group .input-mini, form.aui .field-group .input-mini{
    width: 60px;
}

#editmyprofileform .field-group .input-small, form[name="editUser"] .field-group .input-small, form.aui .field-group .input-small {
    width: 90px;
}

#editmyprofileform .field-group .input-medium, form[name="editUser"] .field-group .input-medium, form.aui .field-group .input-medium {
    width: 120px;
}

#editmyprofileform .field-group .input-large, form[name="editUser"] .field-group .input-large, form.aui .field-group .input-large {
    width: 180px;
}

#editmyprofileform .field-group .input-xlarge, form[name="editUser"] .field-group .input-xlarge, form.aui .field-group .input-xlarge {
    width: 215px;
}

#editmyprofileform .field-group .input-xxlarge, form[name="editUser"] .field-group .input-xxlarge, form.aui .field-group .input-xxlarge {
    width: 250px;
}

.wordWrapTextArea {
    font-family: Arial,sans-serif;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}